openapi: 3.0.1
info:
  title: Baiters Burger Customer API
  description: API para gerenciar os clientes.
  version: 1.0.0
x-amazon-apigateway-request-validator: all
tags:
  - name: Customers
  - name: Auth
paths:
  /customers:
    post:
      tags:
        - Customers
      summary: Cadastra um novo cliente
      security:
        - LambdaAuthorizer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
            examples:
              default:
                $ref: '#/components/examples/NewCustomer'
      responses:
        '201':
          description: Cliente criado com sucesso
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: POST
        uri: 'http://${nlb_dns_name}/api/v1/customers'
        connectionType: VPC_LINK
        connectionId: '${vpc_link_id}'
        passthroughBehavior: when_no_match
  '/customers/{cpf}':
    get:
      tags:
        - Customers
      summary: Busca um cliente pelo CPF
      security:
        - LambdaAuthorizer: []
      parameters:
        - name: cpf
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados do cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                default:
                  $ref: '#/components/examples/CustomerResponse'
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: 'http://${nlb_dns_name}/api/v1/customers/{cpf}'
        connectionType: VPC_LINK
        connectionId: '${vpc_link_id}'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.cpf: method.request.path.cpf
components:
  schemas:
    Customer:
      type: object
      properties:
        cpf:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
    CustomerInput:
      type: object
      required:
        - name
        - cpf
        - email
      properties:
        name:
          type: string
        cpf:
          type: string
        email:
          type: string
          format: email
  examples:
    CustomerResponse:
      summary: Exemplo de retorno para um cliente
      value:
        cpf: '48481743844'
        name: mirna
        email: mirna@gmail.com
    NewCustomer:
      summary: Exemplo de body para criar um novo cliente
      value:
        name: mirna
        cpf: '48481743844'
        email: mirna@gmail.com
  securitySchemes:
    LambdaAuthorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        type: token
        authorizerUri: '${authorizer_lambda_invoke_arn}'
        authorizerResultTtlInSeconds: 300
  x-amazon-apigateway-request-validators: null
  all:
    validateRequestBody: true
    validateRequestParameters: true
